.card {
    display: flex;
    height: 16rem;
    width: 26rem;
    background-color: peachpuff;
    justify-content: center;
    align-items: center;
    border: .5px solid white;
    padding: .5rem;
    gap: 1rem;
}

body, html {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    background: linear-gradient(#f9a7a7, #828ade);

}

form {
    display: flex;
    gap: 2rem;
    justify-content: center;


}

.form-container-1 {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.form-container-2 {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    position: relative;
    top: .45rem;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
   
}

.large-label {
    font-size: 1.2rem;
    font-weight: 700;
}

.hidden {
    display: none;
}

.add-book-button {
    display: flex;
    justify-content: center;

}

.functionality-button {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.delete-button{
    width: 9rem;
    height: 3rem;
}

.card-button {
    display: flex;
    
}

.card-div {
    display: flex;
    flex-direction: column;
    
}

.card>:first-child {
    width: 40rem;
}

.isReadLabel  {
    display: flex;
}



.readStatus {
    display: flex;
    width: 50px;
}

span {
    width: 30px;
    position: relative;
    top: 2vh;
}